body {
  background-color: #cfb493;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container {
  display: flex;
  justify-content: center;
  background-color: bisque;
  width: 400px;
}

img {
  border-radius: 50%;
}

.crossed {
  text-decoration: line-through 2px red;
}

.add {
  margin-top: 10px;
  background-color: #cfb493;
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 10px;
  color: white;
}

.delete {
  background-color: #cfb493;
  padding: 10px;
  margin-bottom: 10px;
  width: 70%;
  border: none;
  border-radius: 10px;
  color: white;
}

li {
  list-style-type: none;
  padding: 10px;
  font-size: 20px;
}

input {
  padding: 10px;
  width: 70%;
  border-radius: 10px;
  border: none;
}